[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
dj-database-url = "*"
dj-static = "*"

[dev-packages]
pylint = "*"
django-extensions = "*"
django-linter = "*"
ipython = "*"
ipdb = "*"
pygments = "*"
jedi = "*"
werkzeug = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
