asgiref==3.3.1
astroid==2.5.1
backcall==0.2.0
colorama==0.4.4
coverage==5.5
decorator==4.4.2
django-debug-toolbar==3.2
django-extensions==3.1.1
django-linter==0.7
django==3.1.7
flake8==3.8.4
ipdb==0.13.6
ipython-genutils==0.2.0
ipython==7.21.0
isort==5.7.0
jedi==0.18.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
parso==0.8.1
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pycodestyle==2.6.0
pyflakes==2.2.0
pygments==2.8.1
pylint==1.5.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
wcwidth==0.2.5
werkzeug==1.0.1
wrapt==1.12.1
