asgiref==3.3.1
astroid==2.5
backcall==0.2.0
colorama==0.4.4
decorator==4.4.2
django-debug-toolbar==3.2
django-extensions==3.1.1
django-linter==0.7
django==3.1.6
ipdb==0.13.4
ipython-genutils==0.2.0
ipython==7.20.0
isort==5.7.0
jedi==0.18.0
lazy-object-proxy==1.5.2
parso==0.8.1
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pygments==2.8.0
pylint==1.5.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
traitlets==5.0.5
wcwidth==0.2.5
werkzeug==1.0.1
wrapt==1.12.1
