{% extends "base.html" %}

{% block Title %} Home {% endblock Title %}


{% block content %}
    {% include "partial/messages.html" %}
    <br>
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'core:home' %}">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">My Expense</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="{% url 'core:add-expense' %}">Add Expenses</a>
        </div>
    </div>
    <br />
    <br />
    {% if expenses %}
        <div class="container m-2">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount (CURRENCY)</th>
                        <th>Catagory</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <th>{{expense.amount}}</th>
                        <th>{{expense.category}}</th>
                        <th> {% if expense.description is not '' %} {{expense.description}} {% else %} No Description {% endif %} </th>
                        <th>{{expense.date|date:"d/m/Y"}}</th>
                        <th><a href="{% url 'core:edit-expense' expense.id %}" class="link-primary">edit</a></th>
                        <th><a href="{% url 'core:delete-expense' expense.id %}" class="link-danger">delete</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
{% endblock content %}
