{% extends "base.html" %}

{% block Title %} Home {% endblock Title %}


{% block content %}
    <h1>Heading</h1>
    <ul class="list-group">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
    </ul>
{% endblock content %}
