{% extends "base.html" %}

{% block Title %} Home {% endblock Title %}


{% block content %}
    {% include "partial/messages.html" %}
    <br>
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'core:home' %}">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">My Expense</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Add Expenses</button>
        </div>
    </div>
    <h1 class="pt-3">Heading</h1>
{% endblock content %}
