{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoneyTracker | {% block Title %} {% endblock Title %} </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Favicons -->
<link rel="icon" href="{% static '/img/favicon.ico'%}">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-light flex-md-nowrap p-0">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 bg-dark" href="{% url 'expenses:home-expense' %}">Money Tracker</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if request.user.is_authenticated %}
      <span class="">{{ request.user.username }} ( {{request.user.email}} )</span>
  {% endif %}
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="btn btn-danger" href="{% url 'auth:logout-user' %}">Sign out</a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
      {% include "partial/sidebar.html" %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% block content %}
            
        {% endblock content %}
    </main>
  </div>
</div>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}" ></script>
      <script src="{% static 'js/feather.min.js' %}"></script>
      <script src="{% static 'js/Chart.min.js' %}"></script>
      <script src="{% static 'js/dashboard.js'%}"></script>
      <script src="{% static 'js/main.js'%}"></script>
      {% block script %}

      {% endblock script %}
  </body>
</html>
