{% extends "base.html" %}
{% load static %}

{% block Title %} Income {% endblock Title %}


{% block content %}
    {% include "partial/messages.html" %}
    <br>
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'income:home-income' %}">Income</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">My Income</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="{% url 'expenses:add-expense' %}">Add Incomes</a>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <form action="" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="">Search</span>
                    <input type="text" id="searchField" class="form-control" placeholder="">
                </div>
           </form>
        </div>
    </div>
    {% if page_obj %}
        <div class="container m-2">
            <table id="table-data" class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount ({{request.user.preferences.currency}})</th>
                        <th>Source</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-tbody-data" class="">
                    {% for income in page_obj %}
                    <tr>
                        <th>{{income.amount}}</th>
                        <th>{{income.source}}</th>
                        <th> {% if income.description is not '' %} {{income.description}} {% else %} No Description {% endif %} </th>
                        <th>{{income.date|date:"Y/m/d"}}</th>
                        {# <th><a href="{% url 'income:edit-income' income.id %}" class="link-primary">edit</a></th> #}
                        {# <th><a href="{% url 'income:delete-income' income.id %}" class="link-danger">delete</a></th> #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <div> Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}} </div>
        </div>
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-end">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First Page">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.paginator.num_pages}}" aria-label="Last Page">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    
{% endblock content %}

{% block script %}
{% endblock script %}

